<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Metasploit App</title>

<link rel="stylesheet" type="text/css" href="/dist/css/bootstrap.css">
<script src="/dist/js/jquery.min.js"></script>
<style>
    body    { padding-top:25px; }
</style>