<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Metasploit App
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Workspace</a></li>
            <li><a href="/">Module</a></li>
            <li><a href="/">Session</a></li>
            <li><a href="/">Task</a></li>
            <li><a href="/">Export</a></li>
        </ul>

    </div>
</nav>