<meta charset="UTF-8">
<title>Metasploit App</title>

<link rel="stylesheet" type="text/css" href="/dist/css/bootstrap.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<style>
    body    { padding-top:25px; }
</style>