<!DOCTYPE html>
<html lang="en">
<head>
	<% include ./partials/head %>
</head>
<body class="container">
	<header>
		<% include ./partials/header %>
	</header>

	<main>
		<div class="col-lg-12">
	        <ol class="breadcrumb">
	        	<li><a href="/">Metasploit App</a></li>
	        	<li><a href="/modules">Modules</a></li>
	        	<li class="active"><%= module.name %></li>
	        </ol>
	        <form action="/modules/exploit_now" method="post">
	        	<div class="form-group">
	        		<label for="name">Target Ip</label>
	        		<input type="text" class="form-control" name="targetIp" placeholder="Target IP address">
	        	</div>

	        	<button type="submit" class="btn btn-danger pull-right">Exploit</button>
	        </form>
        </div>
    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>

</body>
</html>